#btnSearch {
    -fx-padding: 7px 14px;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-width: 2;
    -fx-background-color: #3d85c6;
    -fx-transition: background-color 0.3s, -fx-effect 0.3s, -fx-scale-x 0.3s, -fx-scale-y 0.3s;
    -fx-font-family: "Eras Demi ITC";
    -fx-font-size: 13;
    -fx-text-fill: white;

}
#btnSearch:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-cursor: hand;
}

#btn {
    -fx-padding: 7px 14px;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-width: 2;
    -fx-transition: background-color 0.3s, -fx-effect 0.3s, -fx-scale-x 0.3s, -fx-scale-y 0.3s;
    -fx-font-family: "Eras Demi ITC";
    -fx-background-color: #3d85c6;
    -fx-font-size: 14;
    -fx-text-fill: white;

}

#btn:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-cursor: hand;
}

#btn:pressed{
    -fx-border-width: 2,5;
    -fx-border-color: #2986cc;
    -fx-background-color: white;
    -fx-text-fill: black;
}

#txtField {
    -fx-border-width: 2;
    -fx-border-color: #2986cc;
    -fx-effect: innershadow(gaussian, #2986cc, 7, 0, 3, 3);
    -fx-background-color: #e1dede;
}

.label{
    -fx-text-fill: white;
    -fx-font-family: "Eras Medium ITC";
    -fx-font-size: 16;
}

#lblIcon{
    -fx-text-fill: black;
    -fx-font-size: 15;
}

#icons:hover{
    -fx-effect: dropshadow( gaussian , white , 5,0,0,1 );
}

#subTitle{
    -fx-font-size: 25;
    -fx-font-family: Stencil;
}

#movie:hover{
    -fx-scale-x: 1.15;
    -fx-scale-y: 1.15;
    -fx-cursor: hand;

}
